<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">sadih221</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Telemedecin</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">validate </property>
		<property name="hibernate.search.autoregister_listeners">true</property>
		<property name="hibernate.validator.apply_to_ddl">false</property>
		<property name="hibernate.current_session_context_class">thread</property>
		
        
        <!-- Mapping -->
        <mapping resource="com/memoire/hbm/Capteur.hbm.xml" />
        <mapping resource="com/memoire/hbm/ContactPatient.hbm.xml" />
        <mapping resource="com/memoire/hbm/DetailPrescription.hbm.xml" />
        <mapping resource="com/memoire/hbm/Domaine.hbm.xml" />
        <mapping resource="com/memoire/hbm/DonneeCapteur.hbm.xml" />
        <mapping resource="com/memoire/hbm/Facture.hbm.xml" />
        <mapping resource="com/memoire/hbm/Fichier.hbm.xml" />
        <mapping resource="com/memoire/hbm/Laboratoire.hbm.xml" />
        <mapping resource="com/memoire/hbm/MessageChat.hbm.xml" />
        <mapping resource="com/memoire/hbm/Nature.hbm.xml" />
        <mapping resource="com/memoire/hbm/Necessite.hbm.xml" />
        <mapping resource="com/memoire/hbm/NecessiteDetail.hbm.xml" />
        <mapping resource="com/memoire/hbm/Notification.hbm.xml" />
        <mapping resource="com/memoire/hbm/Permission.hbm.xml" />
        <mapping resource="com/memoire/hbm/Prescription.hbm.xml" />
        <mapping resource="com/memoire/hbm/RendezVous.hbm.xml" />
        <mapping resource="com/memoire/hbm/ResultatAnalyse.hbm.xml" />
        <mapping resource="com/memoire/hbm/Role.hbm.xml" />
        <mapping resource="com/memoire/hbm/Service.hbm.xml" />
        <mapping resource="com/memoire/hbm/ServiceStructure.hbm.xml" />
        <mapping resource="com/memoire/hbm/SessionVideoconference.hbm.xml" />
        <mapping resource="com/memoire/hbm/Specialite.hbm.xml" />
        <mapping resource="com/memoire/hbm/SpecialiteMedecin.hbm.xml" />
        <mapping resource="com/memoire/hbm/StructureSanitaire.hbm.xml" />
        <mapping resource="com/memoire/hbm/Type.hbm.xml" />
        <mapping resource="com/memoire/hbm/Utilisateur.hbm.xml" />
        <mapping resource="com/memoire/hbm/Actemedical.hbm.xml" />
    </session-factory>
</hibernate-configuration>
