<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">sadih221</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Telemedecin</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.search.autoregister_listeners">true</property>
		<property name="hibernate.validator.apply_to_ddl">false</property>
		<property name="hibernate.current_session_context_class">thread</property>
		
        
        <!-- Mapping -->  
        <mapping resource="com/memoire/model/AgentEtat.hbm.xml" />
        <mapping resource="com/memoire/model/Analyse.hbm.xml" />
        <mapping resource="com/memoire/model/Contact.hbm.xml" />
        <mapping resource="com/memoire/model/Medecin.hbm.xml" />
        <mapping resource="com/memoire/model/Patient.hbm.xml" />
        <mapping resource="com/memoire/model/Consultation.hbm.xml" />
        
        <mapping resource="com/memoire/model/Capteur.hbm.xml" />
        <mapping resource="com/memoire/model/ContactPatient.hbm.xml" />
        <mapping resource="com/memoire/model/DetailPrescription.hbm.xml" />
        <mapping resource="com/memoire/model/Domaine.hbm.xml" />
        <mapping resource="com/memoire/model/DonneeCapteur.hbm.xml" />
        <mapping resource="com/memoire/model/Facture.hbm.xml" />
        <mapping resource="com/memoire/model/Fichier.hbm.xml" />
        <mapping resource="com/memoire/model/Laboratoire.hbm.xml" />
        <mapping resource="com/memoire/model/MessageChat.hbm.xml" />
        <mapping resource="com/memoire/model/Nature.hbm.xml" />
        <mapping resource="com/memoire/model/Necessite.hbm.xml" />
        <mapping resource="com/memoire/model/NecessiteDetail.hbm.xml" />
        <mapping resource="com/memoire/model/Notification.hbm.xml" />
        <mapping resource="com/memoire/model/Permission.hbm.xml" />
        <mapping resource="com/memoire/model/Prescription.hbm.xml" />
        <mapping resource="com/memoire/model/RendezVous.hbm.xml" />
        <mapping resource="com/memoire/model/ResultatAnalyse.hbm.xml" />
        <mapping resource="com/memoire/model/Role.hbm.xml" />
        <mapping resource="com/memoire/model/Service.hbm.xml" />
        <mapping resource="com/memoire/model/ServiceStructure.hbm.xml" />
        <mapping resource="com/memoire/model/SessionVideoconference.hbm.xml" />
        <mapping resource="com/memoire/model/Specialite.hbm.xml" />
        <mapping resource="com/memoire/model/SpecialiteMedecin.hbm.xml" />
        <mapping resource="com/memoire/model/StructureSanitaire.hbm.xml" />
        <mapping resource="com/memoire/model/Type.hbm.xml" />
        <mapping resource="com/memoire/model/Utilisateur.hbm.xml" />
        <mapping resource="com/memoire/model/ActeMedical.hbm.xml" />
    </session-factory>
</hibernate-configuration>
